body {
	background: linear-gradient(-45deg, #582e21, #1d1f35, #0b4e69, #0b9978);
	background-size: 400% 400%;
	animation: gradient 35s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}